name: Hello World
on: push
jobs:
  hello:
    runs-on: ubuntu-latest
    steps: 
      - name: Hello Step
        run: |
          echo "This is line number one"
          echo "This is line number two"
   
